.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hsl(233, 11%, 84%);;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  
}

.add-button{
  color:red;
  background-color: #282c34;
}

.remove-btn{
  color:red;
  background-color: #282c34;
  margin-left: 10px;
  float: right;
  cursor: pointer;

}

.todo-List{
  margin-top: 20vh;
  padding: 20px;
  width:30vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  
}

.items-wrapper{
  box-shadow: 0 0 10px 0 hsl(235, 19%, 35%);
  
}
.form{
  margin-bottom: 20px;
}
.item{
  padding: 10px;
  margin: 2px;
  background-color: hsl(235, 19%, 35%);
  border-color: hsl(235, 19%, 35%);
  border-width: 3px;
  border-style: solid;
  width: 20vw;
  align-items: center;
}

.checked{
  border-color: lightgreen;
}

.checked .remove-btn{
  color: lightgreen;
}